<div class="container">
  <h1>Commandes en cours</h1>
  <div class="list-group" class="commandes">
    <div *ngFor="let commande of currentCommandes" class="list-group-item list-group-item-action"
         (click)="selectCommande(commande)" [ngClass]="{ active: selectedCommande === commande }">
      <div class="row">
        <div class="col-4">
          {{ commande.id }}
        </div>
        <div class="col-6">
          {{ commande.display.status.title }}
        </div>
        <div class="col-2">
          {{ commande.magasins.length }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedCommande" class="tournee">
      <ul class="nav nav-tabs" class="magasins">
        <li class="nav-item" *ngFor="let magasin of selectedCommande.magasins">
          <a class="nav-link" href="javascript:void(0)" [ngClass]="{ active: selectedMagasin === magasin }" (click)="selectMagasin(magasin)">{{ magasin.denomination }}</a>
        </li>
      </ul>
  </div>
</div>
