<div class="container">
  <h1>Commandes en cours</h1>
  <div class="list-group commandes mb-3">
    <div *ngFor="let commande of currentCommandes" class="list-group-item list-group-item-action list-group-item-{{ commande.display.status.etat }}"
         (click)="selectCommande(commande)" [ngClass]="{ active: selectedCommande === commande }">
      <div class="row">
        <div class="col-4">
          {{ commande.id }}
        </div>
        <div class="col-6">
          {{ commande.display.status.title }}
        </div>
        <div class="col-2">
          {{ commande.magasins.length }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedCommande" class="tournee">
    <ul class="nav nav-tabs magasins mb-3">
      <li class="nav-item" *ngFor="let magasin of selectedCommande.magasins">
        <a class="nav-link" href="javascript:void(0)" [ngClass]="{ active: selectedMagasin === magasin }"
           (click)="selectMagasin(magasin)">{{ magasin.denomination }}</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-4">
        <h4>{{ selectedMagasin.denomination }}</h4>
        <span class="badge badge-{{ selectedMagasin.display.status.etat }}"> {{ selectedMagasin.display.status.title }} </span>
        <p>
          <span>Adresse</span>:<br/>
          <a href="javascript:void(0)" (click)="mapGoTo(selectedMagasin.position)">{{ selectedMagasin.adresse }}<br>
          Code postal: {{ selectedMagasin.codePostal }}</a>
          <button *ngIf="selectedMagasin.etat === 'ATTRIBUE_A_COURSIER'" (click)="livreurOnMagasin()" class="btn-sm btn btn-success float-right">
            Commande recuperer
          </button>
        </p>
        <h3>Destination</h3>
        <p>
          <span>Adresse</span>:<br>
          <a href="javascript:void(0)" (click)="mapGoTo(selectedCommande.residence.position)">{{ selectedCommande.residence.adresse }}<br/>
            {{ selectedCommande.residence.codePostal }} {{ selectedCommande.residence.ville }}</a>
        </p>
      </div>
      <div class="col-8">
        <table class="articles table table-sm">
          <thead>
          <tr>
            <th scope="col" style="width: 110px;min-width: 110px"></th>
            <th scope="col" style="width: 100%">Nom</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let article of selectedMagasin.produits" class="article">
            <td scope="row" class="text-center" *ngIf="{zoom:false} as display">
              <img src="{{article.img}}" alt="{{ article.denomination }}" [ngClass]="{zoom: display.zoom === true}" (click)="display.zoom = !display.zoom">
            </td>
            <td *ngIf="{showDescription:false} as display" >
              <h5>{{ article.denomination }}</h5>
              <p *ngIf="display.showDescription">
                {{ article.description }}
              </p>
              <a *ngIf="!display.showDescription" href="javascript:void(0)" (click)="display.showDescription = true">Voir +</a>
            </td>
            <td>{{ article.nb }}</td>
            <td>{{ article.nb*article.prix | prix }}€</td>
          </tr>
          <tr>
            <td></td>
            <td class="text-right">Total :</td>
            <td class="font-weight-bold">{{ selectedMagasin.produits.length }}({{
              countNbProduit(selectedMagasin.produits) }})
            </td>
            <td class="font-weight-bold">{{ countPrix(selectedMagasin.produits) | prix }}€</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div #gmap class="ggmap mb-5"></div>
</div>
